<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href="../static/base.css">
    <title>{% block titill %} {% endblock %}</title>
</head>
<body>
    <div class="nav">
        <a href="/" class="nav">index</a>
        <a href="/lidur1" class="nav">lidur1</a>
        <a href="/lidur2" class="nav">lidur2</a>
    </div>
    {% block innihald %}
    {% endblock %}
    </body>
    </html>